/* header */
.header .nav {
    display: flex;
    justify-content: space-between;
}
.header .nav .account{
    display: flex;
}
.header .nav .account img{
    width: 5%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    max-width: 50px;
    padding: 10px;
    box-sizing: border-box
}
.header .nav .nav-set{
    display: flex;
}